{% extends 'base.html' %}
{% block content %}
<h2>Your Character: {{ character.character_name  }}</h2>
{% if allies %}
    <h2>Your Allies</h2>
    {% for instance in allies %}
    <h3>{{ instance.character_name }}</h3>
    {% endfor %}
{% endif %}
<button type="button">Add Ally!</button>

<h2>Your Available Dice</h2>
{% for instance in dice %}
<h3>{{ instance }}</h3>
{% endfor %}

<form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value='Select' />
</form>

{% endblock %}
