{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'dice/style.css' %}" />
<h1>Pick Your Characters!</h1>
<form method="POST"> {% csrf_token %}
    {{ character_form.as_p }}
    <input type="submit" value='Select' />
</form>

<div class="grid-container">
    {% for instance in object_list %}

    <div class="grid-item">
        <img src="{% get_static_prefix %}{{ instance.character_image_path }}" alt="">
        {{instance.character_name}}
    </div>
    {% endfor %}
</div>
<p>images found <a href="https://mariopartylegacy.com/">here</a></p>
{% endblock %}